@page "/notes"
@using NoteApp.Logic.Domain.Entity.Note.Models
@inject NoteApp.Logic.Domain.Entity.Note.Service.Interface.INoteService NS
@rendermode InteractiveServer

@{
    ViewData["Title"] = "Home page";
}

<h3>Notes</h3>

@if (_loading)
{
    <p>Loading</p>
}
else if(_notes?.Count == 0)
{
    <p>No Animals Yet.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var a in _notes!)
        {
            <tr>
                <td>@a.Title</td>
                <td>@a.Created</td>
                <th>@a.Modified</th>
                <th>
                    <button>✏️</button>
                    <button>🗑️</button>
                </th>
            </tr>
        }
        </tbody>
    </table>
}

@code{

    public bool _loading = true;
    public List<NoteEntity>? _notes;

    protected override async Task OnInitilizedAsync()
    {
        _notes = await NS.GetAllAsync();
        _loading = false;
    }

}